<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= logout_button %>
  <% else %>
    <%= login_button %>
  <% end %>
<%= yield %>

</body>
</html>
